@font-face{
    font-family:"Montserrat-Regular";
    font-style: normal;
    src:url("./fonts/Montserrat-Regular.otf");
}

@font-face{
    font-family:"Montserrat-Bold";
    font-style: normal;
    src:url("./fonts/Montserrat-Bold.otf");
}

@font-face{
    font-family:"Montserrat-Light";
    font-style: normal;
    src:url("./fonts/Montserrat-Light.otf");
}

@font-face{
    font-family:"Montserrat-Medium";
    font-style: normal;
    src:url("./fonts/Montserrat-Medium.otf");
}

